@import "../../common/common.styl"
.biddingDetail-conter
  width 1200px
  height auto
  margin 0 auto 60px auto
  .biddingDetail-title
    height 74px
    line-height 74px
    .last
      float left
      height 100%
      line-height 74px
      margin-right 5px
      font-size 14px
      color #333
  .detail-con
    width 100%
    height auto
    overflow hidden
    .detail-left
      float left
      width 842px
      border 1px solid #e3e3e3
      height auto
      box-sizing border-box
      .con-title
        width 100%
        height 126px
        box-sizing border-box
        border-bottom 1px solid #e3e3e3
        .title
          display block
          width 100%
          height 82px
          line-height 92px
          text-align center
          color #333
          font-size 32px
        .source-con
          margin 0 auto
          font-size 14px
          color #999
          width 100%
          text-align center
          span
            display inline-block
            margin-right 30px
      .detail
        padding 20px 30px 20px 30px
        box-sizing border-box
        line-height 30px
        color #666
        font-size 14px

    .detail-right
      width 318px
      float right
      box-sizing border-box
      border 1px solid #e3e3e3
      height auto
      padding-bottom 36px
      .title
        width 100%
        height 60px
        border-bottom 1px solid #e3e3e3
        padding 20px 0 0 18px
        box-sizing border-box
        mainBack()
        .right-title
          height 20px
          font-size 18px
          color #fff
          text-align center
      .item
        width 100%
        height auto
        padding 15px 0
        box-sizing border-box
        .list-item
          line-height 22px
          margin-bottom 11px
          padding 0 24px
          box-sizing border-box
          font-size 12px
          color #666
          cursor pointer
          width 90%
          overflow hidden
          text-overflow ellipsis
          white-space nowrap
          &:hover
            mainColor()
          &:before
            content ''
            display inline-block
            width 4px
            height 4px
            margin-right 10px
            background #999
            border-radius 50%
            color #666
      .right-bg
        width 100%
        height 166px
        background url("resource/banner_zhaobiao.jpg") no-repeat center

