.nothing
  width 100%
  height auto
  text-align center
  font-size 0
  padding-top 180px
  padding-bottom 300px
  .nothing-picture
    display inline-block
    vertical-align top
    width 217px
    height 215px
    background-repeat no-repeat
    background-position center
    background-image url("resource/icon_wuchanpin.png")
  .nothing-text
    display inline-block
    vertical-align top
    width 100%
    margin-top 28px
    font-size 18px
    color #b3b3b3
