.evaluate
  width 100%
  height 100%
  .evaluate-star
    width 100%
    height 100%
    overflow hidden
    .star-item
      float left
      width 15px
      height 14px
      margin-right 5px
    .emptyStar-item
      background url("resource/icon_xing.png") no-repeat center
    .fullStar-item
      background url("resource/icon_huixing.png") no-repeat center

