.bidenrollMoney-wrapper
  width 100%
  height auto
  padding 50px 0
  background #f5f5f5
  .bidenrollMoney-container
    width 1200px
    height auto
    background #fff
    margin 0 auto
    .bidenrollMoney-top
      width 100%
      border-bottom 1px solid #e6e6e6
      padding 0 50px
      height 140px
      box-sizing border-box
      .bidenrollMoney-top-box
        width 100%
        height 100%
        background url("resource/icon_zf_gou.png") no-repeat left center
        .bidenrollMoney-top-left
          float left
          padding 30px 0 30px 85px
          box-sizing border-box
          .name
            height 44px
            line-height 44px
            font-size 22px
            color #333
          .warn
            height 36px
            line-height 36px
            font-size 14x
            color #666
            .red
              color #f00
        .bidenrollMoney-top-right
          float right
          height 140px
          line-height 140px
          color #333
          font-size 14px
          .money
            font-size 24px
            color #f35833
    .bidenrollMoney-style
      width 100%
      height 470px
      padding 40px 20px
      box-sizing border-box
      .bidenrollMoney-onLine
        width 100%
        height 180px
        box-sizing border-box
        border 1px solid #e6e6e6
        .Line-title
          height 78px
          line-height 78px
          padding-left 36px
          font-size 14px
          color #333
          .checkbox
            margin-right 20px
      .bidenrollMoney-outLine
        width 100%
        margin-top 30px
        height 180px
        box-sizing border-box
        border 1px solid #e6e6e6
        .Line-title
          height 78px
          line-height 78px
          padding-left 36px
          font-size 14px
          color #333
          .checkbox
            margin-right 20px
        .upload
          width 100%
          padding 0px 0 20px 60px
          box-sizing border-box
          .upload-img
            display block
            line-height 30px
            font-size 14px
            color #333
            margin-top 15px
    .money-pay
      width 100%
      padding 0 20px
      box-sizing border-box
      height 80px
      .money-pay-right
        float right
        width 320px
        height 100%
        .money-pay-button
          float left
          height 40px
          line-height 40px
          color #ffffff
          text-align center
          font-size 16px
          background #f35833
          width 155px
          cursor pointer
        .money-pay-button-cancle
          float left
          height 40px
          line-height 38px
          color #333
          text-align center
          font-size 16px
          width 155px
          margin-left 10px
          box-sizing border-box
          border 1px solid #e6e6e6
          cursor pointer

