@import "../../common/common.styl"
.replaceOrder-box
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(0,0,0,0.3)
  z-index 9999
  .replaceOrder
    position absolute
    padding 10px
    line-height 28px
    width 200px
    height 200px
    left 50%
    top 50%
    background #fff
    margin-top -100px
    margin-left -100px
    box-shadow 0 0 5px 5px #ccc
    mainColor()
    .close
      text-align right
      cursor pointer
      height 26px
      margin-bottom 10px
      background url("resource/close.png") no-repeat right center
    .item
      width 100%
      line-height 28px
      margin-bottom 30px
