@import "../../common/common.styl"
.register-topcon
  width 100%
  height 160px
  box-sizing border-box
  border-bottom 1px solid #ededed
  padding 20px 0
  .register-top
    width 1200px
    height 100%
    margin 0 auto
    .register-top-left
      float left
      width 800px
      overflow hidden
      .register-topLeft
        width 260px
        height 120px
        cursor pointer
        float left
        background url("resource/LOGO.png") no-repeat center
        border-right 1px solid #ededed
      .register-topRight
        float left
        height 100%
        padding-left 50px
        line-height 120px
    .register-top-right
      float right
      line-height 120px
      mainColor()
      cursor pointer
.register-wrapperBox
  width 1200px
  height auto
  margin 0 auto
  overflow hidden
  .register-containerFirst
    width 1200px
    margin 0 auto
    height auto
    padding-top 40px
    box-sizing border-box
    .register-firstStep-top
      height 50px
      width 100%
      position relative
      .register-firstStep-topItem
        display inline-block
        height 100%
        position absolute
        top 0
        text-align center
        line-height 50px
        font-size 18px
      .register-firstStep-topItem1
        width 399px
        color #fff
        background url("resource/icon_lszc.png") no-repeat center
        left 0px
      .register-firstStep-topItem2
        width 417px
        color #666
        background url("resource/img_edit_hui.png") no-repeat center
        left 383px
      .register-firstStep-topItem3
        width 419px
        color #666
        background url("resource/img_finish_hui.png") no-repeat center
        left 783px
    .register-firstStep-bottom
      width 100%
      height auto
      padding-top 170px
      box-sizing border-box
      margin-bottom 100px
      overflow hidden
      position relative
      .register-firstStep-phone
        float left
        width 146px
        height 248px
        margin-left 530px
        margin-right 250px
        cursor pointer
        .register-firstStep-phoneBg
          display block
          width 100%
          height 146px
          background url("resource/icon_moren_sj.png") no-repeat center
        &:hover .register-firstStep-phoneBg
          background url("resource/icon_sjzc.png") no-repeat center
        .register-firstStep-phoneCon
          width 100%
          height 102px
          display block
          line-height 102px
          text-align center
          font-size 18px
      .register-firstStep-email
        float left
        width 146px
        height 248px
        cursor pointer
        .register-firstStep-emailBg
          display block
          width 100%
          height 146px
          background url("resource/icon_moren_yx.png") no-repeat center
        &:hover .register-firstStep-emailBg
          background url("resource/icon_yxzc.png") no-repeat center
        .register-firstStep-emailCon
          width 100%
          height 102px
          display block
          line-height 102px
          text-align center
          font-size 18px

  .register-containerSecond
    width 1200px
    margin 0 auto
    height auto
    padding-top 40px
    box-sizing border-box
    .register-secondStep-top
      height 50px
      width 100%
      position relative
      .register-firstStep-topItem
        display inline-block
        height 100%
        position absolute
        top 0
        text-align center
        line-height 50px
        font-size 18px
      .register-firstStep-topItem1
        width 399px
        color #666
        background url("resource/img_choice_hui.png") no-repeat center
        left 0px
      .register-firstStep-topItem2
        width 417px
        color #fff
        background url("resource/icon_txxx_ls.png") no-repeat center
        left 383px
      .register-firstStep-topItem3
        width 419px
        color #666
        background url("resource/img_finish_hui.png") no-repeat center
        left 783px
    .register-secondStep-bottom
      width 100%
      padding 60px 0
      box-sizing border-box
  .register-containerThird
    width 1200px
    margin 0 auto
    height auto
    padding-top 40px
    box-sizing border-box
    .register-ThirdStep-top
      height 50px
      width 100%
      position relative
      .register-firstStep-topItem
        display inline-block
        height 100%
        position absolute
        top 0
        text-align center
        line-height 50px
        font-size 18px
      .register-firstStep-topItem1
        width 399px
        color #666
        background url("resource/img_choice_hui.png") no-repeat center
        left 0px
      .register-firstStep-topItem2
        width 417px
        color #666
        background url("resource/img_edit_hui.png") no-repeat center
        left 383px
      .register-firstStep-topItem3
        width 419px
        color #fff
        background url("resource/icon_zcwc_ls.png") no-repeat center
        left 783px
    .register-ThirdStep-bottom
      width 100%
      height auto
      padding 125px 0
      box-sizing border-box
      .register-ThirdStep-bottomCon
        width 615px
        height 255px
        margin 0 auto
        padding 65px 0px 60px 105px
        box-sizing border-box
        border-top 1px dashed #ccc
        border-bottom 1px dashed #ccc
        .register-ThirdStep-sueecss
          height 58px
          overflow hidden
          margin-bottom 40px
          .register-ThirdStep-sueecssBg
            float left
            width 58px
            height 100%
            background url("resource/icon_zf_gou.png") no-repeat center
            margin-right 20px
          .register-ThirdStep-info
            float left
            height 100%
            padding-top 5px
            font-size 20px
            box-sizing border-box
            .register-ThirdStep-sueecssCon
              display block
              margin-bottom 10px
            .register-ThirdStep-ren
              display block
              font-size 14px
              color #ff5628
        .register-ThirdStep-btn
          height 35px
          .register-ThirdStep-identification
            width 115px
            height 100%
            mainBack()
            text-align center
            line-height 35px
            color #fff
            font-size 14px
            display inline-block
            margin-right 60px
            cursor pointer
          .register-ThirdStep-back
            width 115px
            height 100%
            display inline-block
            border 1px solid #e0e0e0
            color #666
            cursor pointer
            font-size 14px
            box-sizing border-box
            text-align center
            line-height 33px

  .phone-register
    width 1200px
    height auto
    margin 0 auto
    .register-con
      width 500px
      margin 0 auto
      height auto
      .information
        height 36px
        margin-top 30px
        width 100%
        input::-webkit-outer-spin-button
        -webkit-appearance none
        input::-webkit-inner-spin-button
        -webkit-appearance none
        input[type="number"]
          -moz-appearance textfield
        .title
          float left
          width 115px
          height 100%
          text-align left
          line-height 36px
          &.necessary
            &:before
              content '*'
              color #f00
              iBlock()
              margin-top 3px
              margin-right 3px
        .phone
          float left
          height 100%
          width 385px
          padding-left 10px
          box-sizing border-box
          border 1px solid #cccccc
          outline none
          font-size 16px
        .code
          width 240px
          float left
          margin-right 15px
          padding-left 10px
          height 100%
          box-sizing border-box
          border 1px solid #cccccc
          outline none
        .yanCode
          margin-left 5px
          display block
          padding-top 45px
          text-align center
          font-size 14px
        .codeImg
          float left
          height 100%
          width 130px
        .address
          float left
          height 100%
          width 385px
        .submit
          width 130px
          height 36px
          float left
          line-height 36px
          color #ffffff
          border none
          text-align center
          border-radius 4px
          &.on
            mainBack()
            cursor pointer
          &.off
            background #e1e1e1
        .blue
          color #0099ff
          &:hover
            mainColor()
            cursor pointer
        .vmiddle
          float left
          margin-left 115px
          margin-right 10px
          -webkit-appearance checkbox
      .confirm
        height 45px
        margin-top 15px
        .confirm-con
          float left
          width 280px
          height 100%
          margin-left 115px
          .commit
            width 100%
            height 100%
            mainBack()
            text-align center
            line-height 36px
            color #fff
            border none
            border-radius 4px
            cursor pointer
            font-size 16px
      .find
        height 36px
        margin-top 20px
        .find-con
          float left
          height 100%
          width 385px
          margin-left 115px
          .haveAccount
            float left
            height 100%
            line-height 36px
            margin-right 90px
            cursor pointer
            &:hover
              mainColor()
              cursor pointer
          .findpw
            float right
            height 100%
            line-height 36px
            color #0099ff
            &:hover
              mainColor()
              cursor pointer
  .email-register
    width 1200px
    height auto
    margin 0 auto
    .register-content
      width 500px
      margin 0 auto
      height auto
      .submit-content
        width 100%
        height auto
        .submit-ul
          width 100%
          height auto
          .submit-list
            width 100%
            height 36px
            margin-top 30px
            line-height 36px
            .title
              float left
              width 115px
              height 100%
              text-align left
              font-size 16px
              color #333
              &.necessary
                &:before
                  content '*'
                  color #f00
                  iBlock()
                  margin-top 3px
                  margin-right 3px
            .information
              float left
              width 385px
              height 100%
              font-size 14px
              color #333
              .realInput
                width 100%
                height 100%
                box-sizing border-box
                text-indent 10px
                outline none
                border 1px solid #ccc
              .submit
                width 130px
                height 36px
                float left
                line-height 36px
                color #ffffff
                border none
                text-align center
                border-radius 4px
                &.on
                  mainBack()
                  cursor pointer
                &.off
                  background #e1e1e1
              .checkCode
                float left
                width 240px
                height 100%
                box-sizing border-box
                margin-right 15px
                text-indent 10px
                font-size 14px
                border 1px solid #ccc
              .checkPicture
                float left
                width 130px
                height 100%
                box-sizing border-box
                border 1px solid #e1e1e1
                cursor pointer
                img
                  width 100%
                  height 100%
        .submit-button
          width 100%
          .information
            box-sizing border-box
            width 100%
            height 36px
            margin-top 30px
            .vmiddle
              float left
              margin-left 115px
              margin-right 10px
              -webkit-appearance checkbox
            .blue
              color #0099ff
              &:hover
                mainColor()
                cursor pointer
          .confirm
            height 45px
            margin-top 15px
            .confirm-con
              float left
              width 280px
              height 100%
              margin-left 115px
              .commit
                width 100%
                height 100%
                mainBack()
                text-align center
                line-height 36px
                color #fff
                border none
                border-radius 4px
                cursor pointer
                font-size 16px
          .find
            height 36px
            margin-top 20px
            .find-con
              float left
              height 100%
              width 385px
              margin-left 115px
              .haveAccount
                float left
                height 100%
                line-height 36px
                margin-right 90px
                cursor pointer
                &:hover
                  mainColor()
                  cursor pointer
              .findpw
                float right
                height 100%
                line-height 36px
                color #0099ff
                &:hover
                  mainColor()
                  cursor pointer
.register-out
  width 100%
  height 100%
  position fixed
  left 0px
  top 0px
  background rgba(0,0,0,0.4)
  z-index 999
  display none
  .registerOut
    width 400px
    height 500px
    position absolute
    left 50%
    top 50%
    margin-top -250px
    margin-left -200px
    font-size 14px
    color #999
    box-shadow 0px 0px 5px #333
    padding 10px
    box-sizing border-box
    background #fff
    .register-close
      width 100%
      height 30px
      font-size 22px
      text-align right
      line-height 30px
      padding-right 10px
      box-sizing border-box
      display block
      cursor pointer
      background url("resource/close.png") no-repeat right center
    #registerOutCon
      width 100%
      height 450px
      overflow-y auto


.OutIsShow
  display block
.login-bottom
  width 100%
  padding 40px 0
  .bottom-list
    text-align center
    font-size 12px
    color #333
    margin-bottom 14px
    .list
      padding 0 24px
      color #333
      font-size 12px
      border-right 1px solid #e1e1e1
      &:last-child
        border-right none
    .hover:hover
      mainColor()
      cursor pointer
  .bottom-listp
    text-align center
    font-size 12px
    color #333
