.JcMoney-con
  width 1200px
  height auto
  border 1px solid #e6e6e6
  margin 50px auto
  .JcMoney-statu
    border-bottom 1px solid #e6e6e6
    padding 18px 0 20px 50px
    box-sizing border-box
    .title
      height 66px
      line-height 66px
      background url("resource/icon_zf_gou.png") no-repeat left center
      padding-left 80px
      box-sizing border-box
      font-size 22px
      color #333
    .con
      padding-left 80px
      font-size 14px
      color #666666
      line-height 26px
    .sure-money
      font-size 16px
      padding-right 50px
      color #666
      float right
      line-height 30px
      margin-bottom 10px

  .money
    border-bottom 1px solid #e6e6e6
    padding-left 50px
    box-sizing border-box
    .title
      height 76px
      line-height 76px
      .bg
        float left
        height 100%
        width 40px
        cursor pointer
        background url("resource/icon_WXZyuan.png") no-repeat left center
      .changeBg
        background url("resource/icon_XZyuan.png") no-repeat left center
      .content
        float left
        height 100%
        font-size 16px
        color #333
    .blank
      height 70px
      width 260px
      background url("resource/icon.jpg") no-repeat left center
      border 1px solid #e6e6e6
      margin 0 0 30px 40px
  .underLine-money
    padding-left 50px
    box-sizing border-box
    .title
      height 76px
      line-height 76px
      .bg
        float left
        height 100%
        width 40px
        cursor pointer
        background url("resource/icon_WXZyuan.png") no-repeat left center
      .changeBg
        background url("resource/icon_XZyuan.png") no-repeat left center
      .content
        float left
        height 100%
        font-size 16px
        color #333
    .title-form
      position relative
      display inline-block
      overflow hidden
     .title-form input
       position: absolute
       left 0
       top 0
       opacity 0
       cursor: pointer;
       width 193px
       height 50px
       -ms-filter 'alpha(opacity=0)'
     .btn-success
       width 190px
       height 50px
       background-color #0099ff
     .btn-success >span
       padding 0 31px
       color #fff
       line-height 50px
    .credence
      height auto
      width 190px
      margin-left 40px
      position relative
      .pay
        width 100%
        height 50px
        margin-bottom 50px
        .upload
          position absolute
          left 0px
          top 0px
          width 100%
          height 100%
          opacity 0
          z-index 3
          cursor pointer
        .cover
          position absolute
          left 0px
          top 0
          width 100%
          height 100%
          background #09f
          color #fff
          line-height 50px
          text-align center
          cursor pointer
  .payBtn
    width 100%
    height 38px
    padding-right 50px
    margin-bottom 60px
    box-sizing border-box
    button
      float right
      width 152px
      height 100%
      margin-right 15px
      border none
      outline none
      cursor pointer
    .commit
      background #f35833
      color #fff
      font-size 16px
    .cancel
      background #fff
      color #666
      font-size 16px
      border 1px solid #e6e6e6
      box-sizing border-box

