.complain
  width 100%
  height auto
 .complain-center
    width 1200px
    height 600px
    margin 0 auto
    background-color #fafafa
 .center
   margin-top 40px
   margin-bottom 88px
   .title
     width 100%
     height 42px
     background-color #cccccc
     h3
       font-size 16px
       color #333333
       padding-left 20px
       line-height 42px
   .center-left
     width 700px
     height auto
     float left
     padding 44px 32px 0 32px
     .title-text
       width 100%
       height 30px
       background-color #eeeeee
       h3
         font-size 14px
         color #333333
         padding-left 20px
         line-height 30px
   .center-identity
     width 100%
     height auto
     padding-top 20px
     em
       color #f4ab9f
       letter-spacing 2px
     span
       font-size 14px
       color #333333
       padding-top 20px
     .identity
       padding-top 20px
       font-size 14px
       color #333
       input
         vertical-align: text-top;
    .left-bottom
       padding-top 30px
      em
        color #f4ab9f
        letter-spacing 2px
      span
        font-size 14px
        color #333333
      .input-text
        padding-top 14px
        overflow hidden
        input[type="text"]
          width 680px
          height 200px
          border 1px solid #e1e1e1
      .button
        padding-top 20px
        width 100%
        height auto
        text-align center
        input[type="button"]
          width 130px
          height 40px
          cursor pointer
          color #fdfdfd
          font-size 16px
          background-color #f35833

   .center-right
     width 374px
     height 480px
     float left
     margin 44px 30px 0 0
     border-left 1px solid #e6e6e6
     padding-left 30px
     .title-text
       width 100%
       height 30px
       background-color #eee
       h3
         font-size 14px
         color #333
         padding-left 20px
         line-height 30px
       .span-text
         width 374px
         height 99px
         background-color #ffffff
         span
           font-size 14px
           color #666f
           display block
           letter-spacing 2px
           line-height 23px
           padding-left 20px
           padding-top 30px


