mainColor()
  color #19ac27
mainBack()
  background-color #19ac27
mainBorder($w,$s)
  border $w $s #19ac27
mainBottomBorder($w,$s)
  border-bottom $w $s #19ac27
mainTopBorder($w,$s)
  border-top $w $s #19ac27
limit()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

iBlock()
  display inline-block
  vertical-align top
